# Rotorflight / STM32F405 (S405) 4.2.9 Sep 23 2021 / 21:30:48 (norevision) MSP API: 1.43

board_name OMNIBUSF4SD
manufacturer_id AIRB

# resources
resource BEEPER 1 B04
resource MOTOR 1 B06			# Label LED_STRIP
resource MOTOR 2 A02			# Multicable - PWM4
#resource SERVO 4 NONE			# Multicable - PWM4
resource SERVO 1 B00			# Multicable - PWM1
resource SERVO 2 B01			# Multicable - PWM2
resource SERVO 3 A03			# Multicable - PWM3
resource PPM 1 B08
resource PWM 1 B08
resource PWM 2 B09
resource PWM 3 C06
resource PWM 4 C07
resource PWM 5 C08
resource PWM 6 C09
resource SONAR_TRIGGER 1 A01
resource SONAR_ECHO 1 A08
resource SERIAL_TX 1 A09
resource SERIAL_TX 3 B10
resource SERIAL_TX 6 C06
resource SERIAL_RX 1 A10
resource SERIAL_RX 3 B11
resource SERIAL_RX 6 C07
resource INVERTER 3 C09
resource INVERTER 6 C08
resource LED 1 B05
resource SPI_SCK 1 A05
resource SPI_SCK 2 B13
resource SPI_SCK 3 C10
resource SPI_MISO 1 A06
resource SPI_MISO 2 B14
resource SPI_MISO 3 C11
resource SPI_MOSI 1 A07
resource SPI_MOSI 2 B15
resource SPI_MOSI 3 C12
resource ADC_BATT 1 C02
resource ADC_RSSI 1 A00
resource ADC_CURR 1 C01
resource BARO_CS 1 B03
resource SDCARD_CS 1 B12
resource SDCARD_DETECT 1 B07
resource FLASH_CS 1 B12
resource GYRO_EXTI 1 C04
resource GYRO_CS 1 A04
resource USB_DETECT 1 C05

# timer
timer B08 AF3		# pin B08: TIM10 CH1 (AF3)
timer B09 AF2		# pin B09: TIM4 CH4 (AF2)
timer C06 AF3		# pin C06: TIM8 CH1 (AF3)
timer C07 AF3		# pin C07: TIM8 CH2 (AF3)
timer C08 AF3		# pin C08: TIM8 CH3 (AF3)
timer C09 AF3		# pin C09: TIM8 CH4 (AF3)
timer B00 AF2		# pin B00: TIM3 CH3 (AF2) #S1
timer B01 AF2		# pin B01: TIM3 CH4 (AF2) #S2
timer A03 AF1		# pin A03: TIM2 CH4 (AF1) #S3
timer A02 AF3		# pin A02: TIM9 CH1 (AF1) #M2/S4
timer A01 AF2		# pin A01: TIM5 CH2 (AF2)
timer B06 AF2		# pin B06: TIM4 CH1 (AF2) #M1
timer A08 AF1		# pin A08: TIM1 CH1 (AF1)
timer A09 AF1		# pin A09: TIM1 CH2 (AF1)
timer A10 AF1		# pin A10: TIM1 CH3 (AF1)

# dma
dma SPI_TX 2 0
# SPI_TX 2: DMA1 Stream 4 Channel 0
dma ADC 1 NONE
dma ADC 2 1

# ADC 2: DMA2 Stream 3 Channel 1
dma ADC 3 NONE
dma pin C06 0		# pin C06: DMA2 Stream 2 Channel 0
dma pin C07 0		# pin C07: DMA2 Stream 2 Channel 0
dma pin C08 0		# pin C08: DMA2 Stream 2 Channel 0
dma pin C09 0		# pin C09: DMA2 Stream 7 Channel 7
dma pin B00 0		# pin B00: DMA1 Stream 7 Channel 5 #S1
dma pin B01 0		# pin B01: DMA1 Stream 2 Channel 5 #S2
dma pin A03 1		# pin A03: DMA1 Stream 6 Channel 3 #S3
#dma pin A02 0		# pin A02: DMA1 Stream 1 Channel 3 #M2/S4
dma pin A01 0		# pin A01: DMA1 Stream 4 Channel 6
dma pin B06 0		# pin B06: DMA1 Stream 0 Channel 2 #M1
dma pin A08 0		# pin A08: DMA2 Stream 6 Channel 0
dma pin A09 0		# pin A09: DMA2 Stream 6 Channel 0
dma pin A10 0		# pin A10: DMA2 Stream 6 Channel 0

# master
set gyro_to_use = FIRST
set align_mag = DEFAULT
set mag_align_roll = 0
set mag_align_pitch = 0
set mag_align_yaw = 0
set mag_bustype = I2C
set mag_i2c_device = 2
set mag_i2c_address = 0
set mag_spi_device = 0
set baro_bustype = SPI
set baro_spi_device = 3
set baro_i2c_device = 0
set baro_i2c_address = 0
set adc_device = 2
set blackbox_device = SERIAL
set dshot_idle_value = 550
set dshot_burst = ON
set dshot_bidir = ON
set dshot_bitbang = ON
set dshot_bitbang_timer = TIM1
set current_meter = ADC
set battery_meter = ADC
set ibata_scale = 400
set beeper_inversion = OFF
set beeper_od = ON
set beeper_frequency = 0
set sdcard_detect_inverted = OFF
set sdcard_mode = OFF
set sdcard_spi_bus = 0
set sdio_clk_bypass = OFF
set sdio_use_cache = OFF
set sdio_use_4bit_width = OFF
set system_hse_mhz = 0
set led_inversion = 0
set usb_msc_pin_pullup = ON
set flash_spi_bus = 2
set gyro_1_bustype = SPI
set gyro_1_spibus = 1
set gyro_1_i2cBus = 0
set gyro_1_i2c_address = 0
set gyro_1_sensor_align = CW0
set gyro_1_align_roll = 0
set gyro_1_align_pitch = 0
set gyro_1_align_yaw = 0
set gyro_2_bustype = SPI
set gyro_2_spibus = 1
set gyro_2_i2cBus = 0
set gyro_2_i2c_address = 0
set gyro_2_sensor_align = CW90
set gyro_2_align_roll = 0
set gyro_2_align_pitch = 0
set gyro_2_align_yaw = 900
set i2c1_pullup = OFF
set i2c1_overclock = ON
set i2c2_pullup = OFF
set i2c2_overclock = ON
set i2c3_pullup = OFF
set i2c3_overclock = ON
set mco2_on_pc9 = OFF
