# Rotorflight / STM32F405 (S405) 4.5.1 Jul 25 2025 / 06:36:57 (e69823a) MSP API: 12.8

board_name GOOSKY_F4MINI
board_design RTFL
manufacturer_id GSKY

# resources
resource MOTOR 1 C08
resource MOTOR 2 A08
resource SERVO 1 B04
resource SERVO 2 B05
resource SERVO 3 B00
resource SERIAL_TX 1 B06
resource SERIAL_TX 2 A02
resource SERIAL_RX 1 B07
resource SERIAL_RX 2 A03
resource SERIAL_RX 5 D02
resource I2C_SCL 1 B08
resource I2C_SDA 1 B09
resource LED 1 C14
resource LED 2 C15
resource SPI_SCK 1 A05
resource SPI_SCK 3 C10
resource SPI_MISO 1 A06
resource SPI_MISO 3 C11
resource SPI_MOSI 1 A07
resource SPI_MOSI 3 C12
resource FLASH_CS 1 B03
resource GYRO_EXTI 1 C05
resource GYRO_CS 1 C04

# timer
timer A08 AF1
# pin A08: TIM1 CH1 (AF1)
timer B00 AF2
# pin B00: TIM3 CH3 (AF2)
timer B04 AF2
# pin B04: TIM3 CH1 (AF2)
timer B05 AF2
# pin B05: TIM3 CH2 (AF2)
timer C08 AF3
# pin C08: TIM8 CH3 (AF3)

# dma
dma pin A08 1
# pin A08: DMA2 Stream 1 Channel 6
dma pin C08 1
# pin C08: DMA2 Stream 4 Channel 7

# feature
feature RX_SERIAL
feature ESC_SENSOR

# serial
serial 0 64 115200 57600 0 115200
serial 4 1024 115200 57600 0 115200

# map
map AECR1T23

# master
set gyro_1_bustype = SPI
set gyro_1_spibus = 1
set gyro_1_sensor_align = CW0
set align_board_roll = 180
set align_board_yaw = 90
set baro_hardware = NONE
set mag_hardware = NONE
set flash_spi_bus = 3
set blackbox_device = SPIFLASH
set motor_pwm_protocol = DSHOT300
set dshot_bidir = ON
set dshot_burst = OFF
set dshot_bitbang = OFF
set esc_sensor_protocol = BLHELI32
set esc_sensor_current_correction = 0
set esc_sensor_consumption_correction = 0
set current_meter = ESC
set battery_meter = ESC
set pid_process_denom = 4
set system_hse_mhz = 8
set serialrx_provider = CRSF
