# Rotorflight / STM32G47X (SG47) 4.6.0-20251111 Nov 11 2025 / 11:09:42 (1699a61) MSP API: 12.9

board_name JHEG474
board_design JHEF
manufacturer_id JHEF

# resources
resource BEEPER 1 A08
resource MOTOR 1 B00
resource MOTOR 2 B01
resource MOTOR 3 A04
resource MOTOR 4 C06
resource LED_STRIP 1 B02
resource SERIAL_TX 1 A09
resource SERIAL_TX 2 A02
resource SERIAL_TX 3 B10
resource SERIAL_TX 4 C10
resource SERIAL_RX 1 A10
resource SERIAL_RX 2 A03
resource SERIAL_RX 3 B11
resource SERIAL_RX 4 C11
resource I2C_SCL 1 A15
resource I2C_SDA 1 B07
resource LED 1 B06
resource LED 2 B09
resource LED 3 NONE
resource SPI_SCK 1 A05
resource SPI_SCK 2 B13
resource SPI_SCK 3 B03
resource SPI_MISO 1 A06
resource SPI_MISO 2 B14
resource SPI_MISO 3 B04
resource SPI_MOSI 1 A07
resource SPI_MOSI 2 B15
resource SPI_MOSI 3 B05
resource ADC_BATT 1 A00
resource ADC_CURR 1 A01
resource PINIO 1 C15
resource FLASH_CS 1 C14
resource GYRO_EXTI 1 C04
resource GYRO_CS 1 C13

# timer
timer B02 AF2
# pin B02: TIM5 CH1 (AF2)
timer B00 AF2
# pin B00: TIM3 CH3 (AF2)
timer B01 AF2
# pin B01: TIM3 CH4 (AF2)
timer A04 AF2
# pin A04: TIM3 CH2 (AF2)
timer C06 AF2
# pin C06: TIM3 CH1 (AF2)
timer A08 AF6
# pin A08: TIM1 CH1 (AF6)

# dma
dma ADC 1 8
# ADC 1: DMA2 Channel 1 Request 5
dma pin B02 0
# pin B02: DMA1 Channel 1 Request 72
dma pin B00 1
# pin B00: DMA1 Channel 2 Request 63
dma pin B01 2
# pin B01: DMA1 Channel 3 Request 64
dma pin A04 3
# pin A04: DMA1 Channel 4 Request 62
dma pin C06 4
# pin C06: DMA1 Channel 5 Request 61

# master
set align_mag = DEFAULT
set mag_align_roll = 0
set mag_align_pitch = 0
set mag_align_yaw = 0
set mag_bustype = SPI
set mag_i2c_device = 0
set mag_i2c_address = 0
set mag_spi_device = 0
set baro_bustype = I2C
set baro_spi_device = 0
set baro_i2c_device = 1
set baro_i2c_address = 0
set adc_device = 1
set dshot_burst = OFF
set dshot_bitbang = ON
set dshot_bitbang_timer = AUTO
set current_meter = ADC
set battery_meter = ADC
set vbat_scale = 110
set vbat_divider = 10
set vbat_multiplier = 1
set vbat_cutoff = 25
set vbec_scale = 110
set vbec_divider = 10
set vbec_multiplier = 1
set vbec_cutoff = 25
set vbus_scale = 110
set vbus_divider = 10
set vbus_multiplier = 1
set vbus_cutoff = 25
set vext_scale = 110
set vext_divider = 10
set vext_multiplier = 1
set vext_cutoff = 25
set ibata_scale = 400
set ibata_offset = 0
set ibata_cutoff = 25
set beeper_inversion = ON
set beeper_od = OFF
set beeper_frequency = 0
set sdcard_detect_inverted = OFF
set sdcard_mode = OFF
set sdcard_spi_bus = 0
set system_hse_mhz = 8
set led_inversion = 0
set pinio_config = 1,1,1,1
set pinio_box = 255,255,255,255
set usb_msc_pin_pullup = ON
set flash_spi_bus = 3
set gyro_1_bustype = SPI
set gyro_1_spibus = 1
set gyro_1_i2cBus = 0
set gyro_1_i2c_address = 0
set gyro_1_sensor_align = CW90
set gyro_1_align_roll = 0
set gyro_1_align_pitch = 0
set gyro_1_align_yaw = 900
set i2c1_pullup = OFF
set i2c1_clockspeed_khz = 800
set i2c2_pullup = OFF
set i2c2_clockspeed_khz = 800
set i2c3_pullup = OFF
set i2c3_clockspeed_khz = 800
set i2c4_pullup = OFF
set i2c4_clockspeed_khz = 800
set mco_on_pa8 = OFF
set mco_source = 0
set mco_divider = 0

