# Rotorflight / STM32G47X (SG47) 4.3.0 Nov  7 2023 / 18:13:17 (346dafad0f) MSP API: 12.1

board_name MATEKG474HELI
board_design RTFL
manufacturer_id MTKS

# resources
resource BEEPER 1 B09
resource MOTOR 1 A01
resource MOTOR 2 A00
resource SERVO 1 B01
resource SERVO 2 B00
resource SERVO 3 A07
resource SERVO 4 A06
resource FREQ 1 B02
resource PWM 1 A08
resource LED_STRIP 1 A15
resource SERIAL_TX 1 A09
resource SERIAL_TX 2 A02
resource SERIAL_TX 3 B10
resource SERIAL_TX 4 C10
resource SERIAL_RX 1 A10
resource SERIAL_RX 2 A03
resource SERIAL_RX 3 B11
resource SERIAL_RX 4 C11
resource I2C_SCL 1 A13
resource I2C_SDA 1 A14
resource LED 1 C14
resource LED 2 C15
resource SPI_SCK 1 B03
resource SPI_SCK 2 B13
resource SPI_MISO 1 B04
resource SPI_MISO 2 B14
resource SPI_MOSI 1 B05
resource SPI_MOSI 2 B15
resource ADC_BATT 1 A04
resource ADC_CURR 1 A05
resource FLASH_CS 1 B12
resource GYRO_EXTI 1 B07
resource GYRO_CS 1 B06

# timer
timer A00 AF1
# pin A00: TIM2 CH1 (AF1)
timer A01 AF1
# pin A01: TIM2 CH2 (AF1)
timer A02 AF9
# pin A02: TIM15 CH1 (AF9)
timer A03 AF9
# pin A03: TIM15 CH2 (AF9)
timer A06 AF1
# pin A06: TIM16 CH1 (AF1)
timer A07 AF2
# pin A07: TIM3 CH2 (AF2)
timer A08 AF6
# pin A08: TIM1 CH1 (AF6)
timer A15 AF2
# pin A15: TIM8 CH1 (AF2)
timer B00 AF2
# pin B00: TIM3 CH3 (AF2)
timer B01 AF2
# pin B01: TIM3 CH4 (AF2)
timer B02 AF2
# pin B02: TIM5 CH1 (AF2)
timer B09 AF1
# pin B09: TIM17 CH1 (AF1)

# dma
dma ADC 1 10
# ADC 1: DMA2 Channel 3 Request 5
dma ADC 2 11
# ADC 2: DMA2 Channel 4 Request 36

dma pin A00 5
# pin A00: DMA1 Channel 6 Request 56
dma pin A01 4
# pin A01: DMA1 Channel 5 Request 57
dma pin A06 3
# pin A06: DMA1 Channel 4 Request 82
dma pin A07 2
# pin A07: DMA1 Channel 3 Request 62
dma pin A08 7
# pin A08: DMA1 Channel 8 Request 42
dma pin A15 8
# pin A15: DMA2 Channel 1 Request 49
dma pin B00 1
# pin B00: DMA1 Channel 2 Request 63
dma pin B01 0
# pin B01: DMA1 Channel 1 Request 64
dma pin B02 6
# pin B02: DMA1 Channel 7 Request 72

# feature
feature RX_SERIAL
feature TELEMETRY

# serial
serial 2 64 115200 57600 0 115200

# master
set system_hse_mhz = 8
set gyro_1_bustype = SPI
set gyro_1_spibus = 1
set gyro_1_sensor_align = CW180FLIP
set baro_hardware = AUTO
set baro_bustype = I2C
set baro_i2c_device = 1
set mag_hardware = AUTO
set mag_bustype = I2C
set mag_i2c_device = 1
set flash_spi_bus = 2
set blackbox_device = SPIFLASH
set battery_meter = ADC
set current_meter = ADC
set vbat_scale = 110
set dshot_burst = OFF
set dshot_bitbang = OFF
set beeper_inversion = ON
set beeper_od = OFF
set serialrx_provider = CRSF
set pid_process_denom = 4
